.n1
{
    background-color:rgb(72, 72, 232);
    color: white;
    padding: 10px;
}
.n2
{
    background-color: rgb(243, 42, 42);
    color: white;
    padding: 10px;
}
.n3
{
    background-color: rgb(90, 199, 242);
    color: white;
    padding: 10px;

}
.n4
{
  background-color:rgb(72, 72, 232);
   color: white;
   padding: 10px;

}
.n5
{
    background-color: rgb(243, 42, 42);   
    color: white;
    padding: 10px;

}
.n6
{
    background-color: rgb(90, 199, 242);

    color: white;
    padding: 10px;

}
.n7
{
    background-color: rgb(31, 31, 180);
    color: white;
    padding: 10px;

}
.n8
{ 
    background-color: rgba(0, 100, 0, 0.805);
    color: white;
    padding: 10px;

}
.n9 
{
    background-color: dark rgb(136, 9, 9);
    color: white;
    padding: 10px;

}
.n10
{
    background-color: rgb(31, 31, 180);
    color: white;
    padding: 10px;

}
.n11
{
    background-color: rgb(6, 112, 6);
    color: white;
    padding: 10px;
}
.n12
{
    background-color: solid rgb(216, 44, 44);
    color: white;
    padding: 10px;
}
.n13
{
    background-color: rgb(227, 167, 15);
    color: white;
    padding: 10px;

}
.n14
{ 
    background-color: rgb(31, 31, 180);  
    color: white;
    padding: 10px;

}
.n15
{
    background-color: rgb(250, 34, 70);
    color: white;
    padding: 10px;

}
.n16
{
    background-color: rgb(227, 167, 15);
    color: white;
    padding: 10px;

}
.n17
{
    background-color: rgb(31, 31, 180);  
    color: white;
    padding: 10px;

}
.n18
{
    background-color: rgb(250, 34, 70);
    color: white;
    padding: 10px;


}